In [1]:
import sys
import pandas as pd
sys.path.append("../scripts")
from Eda import Eda as eda
from sklearn.cluster import KMeans
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
data = pd.read_csv("../data/Week1_challenge_data_source.csv")
eda = eda(data)

In [3]:
data = eda.convertbyte_scale(data, '(Bytes)', '(MB)', 1000000)

In [4]:
outliers = ['Avg RTT DL (ms)', 'Avg RTT UL (ms)','TCP DL Retrans. Vol (MB)','TCP UL Retrans. Vol (MB)','Avg Bearer TP DL (kbps)','Avg Bearer TP UL (kbps)']
data = eda.fix_outlier(data, outliers)

In [5]:
df = pd.DataFrame()
df['Avg RTT'] = data['Avg RTT DL (ms)'] + data['Avg RTT UL (ms)']
df['Avg TCP'] = data['TCP DL Retrans. Vol (MB)'] + data['TCP UL Retrans. Vol (MB)']
df['Handset_type'] = data['Handset Type']
df['MSISDN/Number'] = data['MSISDN/Number']
num_col, cat_col = eda.col_assign(df)
df = eda.fix_num_cols(df, num_col)
df.dropna(inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149429 entries, 0 to 149999
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Avg RTT        149429 non-null  float64
 1   Avg TCP        149429 non-null  float64
 2   Handset_type   149429 non-null  object
 3   MSISDN/Number  149429 non-null  float64
dtypes: float64(3), object(1)
memory usage: 5.7+ MB

In [7]:
avgrtt = df.groupby(['MSISDN/Number'],as_index=False).agg({'Avg RTT': 'sum'})

In [8]:
avgrtt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106857 entries, 0 to 106856
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   MSISDN/Number  106857 non-null  float64
 1   Avg RTT        106857 non-null  float64
dtypes: float64(2)
memory usage: 1.6 MB

In [9]:
avgtcp = df.groupby(['MSISDN/Number'],as_index=False).agg({'Avg TCP': 'sum'})

In [10]:
avgtcp

        MSISDN/Number      Avg TCP
0        3.360100e+10     4.825495
1        3.360100e+10     4.825495
2        3.360100e+10     4.825495
3        3.360101e+10     4.825495
4        3.360101e+10    14.196495
...               ...          ...
106852   3.379000e+10     4.825495
106853   4.188282e+10  1966.489545
106854   3.197020e+12     4.825495
106855   3.370000e+14     4.825495
106856   8.823970e+14     4.825495

[106857 rows x 2 columns]

In [11]:
avghandset = df.groupby(['MSISDN/Number'],as_index=False).agg({'Handset_type': 'count'})

In [12]:
avghandset

        MSISDN/Number  Handset_type
0        3.360100e+10             1
1        3.360100e+10             1
2        3.360100e+10             1
3        3.360101e+10             1
4        3.360101e+10             2
...               ...           ...
106852   3.379000e+10             1
106853   4.188282e+10           494
106854   3.197020e+12             1
106855   3.370000e+14             1
106856   8.823970e+14             1

[106857 rows x 2 columns]